 {% load static %} 
 
 <!-- Vendor JS Files -->
 <script src="{% static 'front/assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
 <script src="{% static 'front/assets/vendor/aos/aos.js' %}"></script>
 <script src="{% static 'front/assets/vendor/php-email-form/validate.js' %}"></script>
 <script src="{% static 'front/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static 'front/assets/vendor/purecounter/purecounter.js' %}"></script>
 <script src="{% static 'front/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'front/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="{% static 'front/assets/js/main.js' %}"></script>